<div class="sorting">
  <%= link_to 'Sort by Set', '?sort=set', class: 'sort-link' %>
  <%= link_to 'Sort by Color', '?sort=color', class: 'sort-link' %>
  <%= link_to 'Sort by Name', '?sort=name', class: 'sort-link' %>
</div>

<div class="card-index">
  <table class="card-table">
    <tr>
      <th>
        Name
      </th>

      <th>
        Colors
      </th>
    </tr>

    <% @cards.each do |card| %>

      <tr>
        <td>
          <%= link_to card.name, card_path(card), class: 'card-list' %>
        </td>

        <td class="colors">
          colors
        </td>
      </tr>
    <% end %>
  </table>
  <div class="card-navigation">
    <% #params[:page].to_i + 1 %>
    <%= button_tag 'Previous', class: 'btn btn-primary previous' %>
    <%= button_tag 'Next', class: 'btn btn-primary next' %>
  </div>
</div>
