<!DOCTYPE html>
<html>
  <head>
    <title>PosWebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <div class="load-time">
      Page Rendered in <%= sprintf('%.3f', (Time.now.to_f - @start_time)) %> seconds
    </div>
  </body>
</html>
